# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Environments
.env
.envrc
.venv
env/
venv/

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.packages

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log
mobile/windows/runner/runner.exe.manifest
